/* app.css */

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Logo {
  font-size: 1.5rem;
}

.Menu-icon {
  padding: 0 8px;
  font-size: 1.5rem;
  cursor: pointer;
}

.Nav-links {
  list-style-type: none;
  display: flex;
}

.Nav-links li {
  margin-right: 15px;
}

.Nav-links a {
  text-decoration: none;
  color: white;
}

/* Mobile view Nav bar*/
.Menu-nav-drawer {
  position: fixed;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vb;
}

.Menu-nav-links {
  list-style-type: none;
  padding: 0;
}

.Menu-nav-links li {
  text-align: center;
  margin-bottom: 15px;
}

.Menu-nav-links a {
  width: 100%;
  display: block;
  padding: 4px;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

.Close-bn {
  padding: 1.6rem;
  line-height: 1rem;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  margin: 20px;
  flex: 1 1 300px;
  /* Responsive flexbox layout */
}

.footer-section h2 {
  font-size: 1.5rem;
}

.footer-section p {
  line-height: 1.5;
  font-size: 0.9rem ,
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.width-full {
  width: 100%;
}

.gap-2 {
  gap: 2;
}

.padding-16 {
  padding: 16px;
}

.margin-all{
  margin: 16px;
}

.forbidden-emoji{
  width: 200px;
}

.link-bld-blk{
  font-weight: bold;
  color: black;
}